
body {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}
    @media screen and (min-width: 768px) {
        body {
         background-color: #dcdcdc;
        }
        
     } 

/* header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: 1rem;
    margin: 1rem 0.5rem 0.5rem;
}

    @media screen and (min-width: 768px) {
        header {
            margin: 10% 10%;
            background-color: #ffffff;
        }
        
    }

        header h2 {
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            font-weight: bolder;
            color: #333333;
        }

        header p {
            padding: 0;
            margin: 0;
            width: 2.25rem;

            font-size: 1.5rem;
            text-align: center;
            color: #ffffff;
            background-color: #0e1376;
            border-radius: 25%;
        }

        header h3 {
            padding: 0;
            margin: 0;
            font-size: 1rem;
            font-weight: lighter;
            color: #333333;
        } */


main {
    margin: 5%;
    background-color: #ffffff;
    }

    @media screen and (min-width: 768px) {
        main {
            margin: 10% 10%;
            padding: 3rem;
        }
        
    }

        main img {
            width: 2rem;
            height: auto;
        }

        main div {
        margin: 0.5rem;
        }

        main p{
            color: #494949;
        }

          .profile-name{
            font-weight: 700;
            color: black;
          }
           .bold-at-end-of-notif{
            font-weight: 625;
            color: #494949;
           }

           p strong a {
            text-decoration: none;
            color: #13498f;
           }


/* User bubble styles */ 
.user-bubble {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
} 

.active-background {
    background-color: aliceblue;
    border-radius: 1rem;
}

.user-bubble-image {
    margin-left: 0.5rem;
    margin-top: 1rem; 
}

.user-bubble-content{
    flex-grow: 1;
}

.user-bubble-content-time {
    color: #8d8d8d;
}

.user-bubble-content-message{
    border: 1px solid #b8b8b8 ;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.user-bubble-image-end {
    
}

/* start of individual notifcation styling */
            .user-mw {
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
                line-height: 1rem;
                align-items: flex-start;
                background-color: aliceblue;
                padding: 0.5rem 1rem;
                border-radius: 15%;
            }
                .user-mw-pfp {
                    margin-right: 0.5rem;
                }

                    .whole-notif {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start !important;
                    }
                        .whole-notif p {
                            align-self: flex-start !important;
                        }

                        .notif-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            text-align: left;
                        }

                    .user-mw-notif-time {

                    }

            .user-ag {

            }

            .user-jt {

            }

            .user-rh {

            }

                .user-rh-message {
                    border: 1px solid #dcdcdc;
                    padding: 0.5rem;
                }

            .user-ks {

            }

            .user-np {

            }

            .user-ak {

            }


a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: red;
}

/* SR-ONLY */ 
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}